@media (max-width: 1280px) {
  html {
    font-size: 15px;
  }
  .login-navbar-wrapper .nav-buttons {
    visibility: visible;
  }
  .login-navbar {
    background-color: rgb(51, 51, 113);
    display: flex;
    justify-content: space-between;
  }
  .gosi-navbar,
  .login-navbar {
    display: none;
  }
  .cert-container{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .sec-three{
     margin-top: 10rem;
  }
  .sec-four{
    height: 20rem;
  }
  .navbar-phone{
    display: flex;
  }
}
